web-app/build
web-app/node_modules
web-app/.DS_Store
.DS_Store
node_modules
web-app/src/components/graph.json
*.csv
*.json
*.png
utils/__pycache__
visualisation/build
lib/__pycache__
*/__pycache__
qd/models
qd/history2bd/__pycache__
*.pkl
visualise/graphs/__pycache__
webapp/build
fitting/history2bd/__pycache__
