webapp/build
webapp/node_modules
webapp/.DS_Store
webapp/src/components/graph.json
.DS_Store
node_modules
*.csv
*.json
*.png
!assets/example_networks.png
utils/__pycache__
visualisation/build
lib/__pycache__
*/__pycache__
qd/models
qd/history2bd/__pycache__
*.pkl
visualise/graphs/__pycache__
webapp/build
fitting/history2bd/__pycache__

